@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "All Roles";
}

<h2>All Roles</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-danger"> <i class="far fa-plus-square"></i>Role</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fas fa-edit"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id"> <i class="fas fa-info"></i> Detail</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> <i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

