@model MediaCollection2.Models.MusicModels.MusicPlaylist.MusicPlaylistViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MusicLayout.cshtml";
}

<h2>@Model.Naam</h2>

<div>
    <div>
        @if (Model.Musics.Count() != 0)
        {
            <table class="table">

                <tr>
                    <th>Titel</th>
                    <th>ReleaseDate</th>
                    <th>Lenght</th>
                    <th>Photo</th>
                </tr>

                @for (int i = 1; i < Model.Musics.Count + 1; i++)
                {
                    var photoPath = "~/Images/" + (Model.Musics[i - 1].PhotoPath ?? "download.jfif");

                    <tr>
                        <td>
                            <a asp-action="Detail" asp-controller="Musics" asp-route-id="@Model.Musics[i-1].ID"> @Model.Musics[i - 1].Titel</a>
                        </td>
                        <td>
                            @Model.Musics[i - 1].ReleaseDate.ToShortDateString()

                        </td>
                        <td>
                            @Model.Musics[i - 1].Lenght Min
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Musics" asp-route-id="@Model.Musics[i-1].ID"><img class="IndexImg" src="@photoPath" asp-append-version="true" /></a>
                        </td>
                    </tr>
                }
            </table>
        }

    </div>

</div>
<div>
    <a asp-action="Index"> <i class="fas fa-back"></i> Playlists</a>
</div>