@model MediaCollection2.Models.MoviePlaylist.MoviePlaylistViewModel

@{
    Layout = "~/Views/Shared/_MoviesLayout.cshtml";

}

<h2>Details</h2>


<div>
    <div>
        @if (Model.Movies.Count() != 0)
        {
            <table class="table">

                <tr>
                    <th>Titel</th>
                    <th>ReleaseDate</th>
                    <th>Lenght</th>
                    <th>Photo</th>
                </tr>

                @for (int i = 1; i < Model.Movies.Count + 1; i++)
                {
            var photoPath = "~/Images/" + (Model.Movies[i-1].PhotoPath ?? "download.jfif");

            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Movies" asp-route-Id="@Model.Movies[i-1].ID"> @Model.Movies[i - 1].Titel</a>
                </td>
                <td>
                    @Model.Movies[i - 1].ReleaseDate.ToShortDateString()

                </td>
                <td>
                    @Model.Movies[i - 1].Lenght Min
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Movies" asp-route-Id="@Model.Movies[i-1].ID"><img class="IndexImg" src="@photoPath" asp-append-version="true" /></a>
                </td>
            </tr>
                }
            </table>
        }

    </div>

</div>
<div>
    <a asp-action="Index"> <i class="fas fa-back"></i> Playlists</a>
</div>
