@model MediaCollection2.Models.Home.MyIndexViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewData["Title"] = "MyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Home</title>
</head>
<body>
    @*Movies list  *@
    <table class="table">
        @if (Model.Movies.Count != 0)
        {
            <tr>
                <td colspan="5">
                    <h1>Top Movies </h1>
                </td>
            </tr>
            <tr>
                @foreach (var movie in Model.Movies)
                {
                    var photoPath = "~/Images/" + (movie.PhotoPath ?? "download.jfif");
                    <td>
                        <div class="card">
                            <div class="card-img"><a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.ID"> <img src="@photoPath" asp-append-version="true" class="TopImg" /></a></div>
                            <div class="card-title">
                                <h5><a style="color:black" asp-action="Details" asp-controller="Movies" asp-route-id="@movie.ID">@Html.DisplayFor(modelItem => movie.Titel)</a></h5>
                            </div>
                            <div class="card-text">
                                @for (int i = 0; i < movie.Rating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                            </div>
                            <div class="card-text">
                                <b> @Html.DisplayNameFor(modelItem => movie.ReleaseDate)</b>:@Html.DisplayFor(modelItem => movie.ReleaseDate)
                            </div>
                            <div class="card-text">
                                <a href="@Html.DisplayFor(modelItem => movie.YoutubeTrailer)"> <i class="far fa-play-circle"></i>  </a>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }

        @if (Model.Musics.Count != 0)
        {
            <tr>
                <td colspan="5">
                    <h1>Top Music </h1>
                </td>
            </tr>
            <tr>
                @foreach (var mu in Model.Musics)
                {
                    var photoPath = "~/Images/" + (mu.PhotoPath ?? "download.jfif");
                    <td>
                        <div class="card">
                            <div class="card-img"><a asp-action="Details" asp-controller="Musics" asp-route-id="@mu.ID"> <img src="@photoPath" asp-append-version="true" class="TopImg" /></a></div>
                            <div class="card-title">
                                <h3><a style="color:black" asp-action="Details" asp-controller="Movies" asp-route-id="@mu.ID">@Html.DisplayFor(modelItem => mu.Titel)</a></h3>
                            </div>
                            <div class="card-text">
                                @for (int i = 0; i < mu.Rating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                            </div>
                            <div class="card-text">
                                <b> @Html.DisplayNameFor(modelItem => mu.ReleaseDate)</b>:@Html.DisplayFor(modelItem => mu.ReleaseDate)
                            </div>
                            <div class="card-text">
                                <a href="@Html.DisplayFor(modelItem => mu.YoutubeTrailer)"> <i class="far fa-play-circle"></i>  </a>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }

        @if (Model.Series.Count != 0)
        {
            <tr>
                <td colspan="5">
                    <h1>Top Series </h1>
                </td>
            </tr>
            <tr>
                @foreach (var s in Model.Series)
                {
                    var photoPath = "~/Images/" + (s.PhotoPath ?? "download.jfif");
                    <td class="col-sm-2 d-flex justify-content-center">
                        <div class="card">
                            <div class="card-img"><a asp-action="Details" asp-controller="Seasons" asp-route-id="@s.SeasonID"> <img src="@photoPath" asp-append-version="true" class="TopImg" /></a></div>
                            <div class="card-title">
                                <h3><a style="color:black" asp-action="Details" asp-controller="Seasons" asp-route-id="@s.SeasonID">@Html.DisplayFor(modelItem => s.Titel)</a></h3>
                            </div>
                            <div class="card-text">
                                @for (int i = 0; i < s.Rating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                            </div>
                            <div class="card-text">
                                <b> @Html.DisplayNameFor(modelItem => s.SeasonNr)</b>:@Html.DisplayFor(modelItem => s.SeasonNr)
                            </div>
                            <div class="card-text">
                                <a href="@Html.DisplayFor(modelItem => s.YoutubeTrailer)"> <i class="far fa-play-circle"></i>  </a>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</body>
</html>

