@model MediaCollection2.Domain.music.Music

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Music</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WantToListen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WantToListen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listened)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listened)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
