@model IEnumerable<MediaCollection2.Models.Users.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a></a>
                <a asp-action="Edit" asp-route-id="@item.id"> <i class="fas fa-edit"></i> Manage Roles</a>
                <a asp-action="Details" asp-route-id="@item.id"> <i class="fas fa-info"></i> Detail</a>
                <a asp-action="Delete" asp-route-id="@item.id"> <i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
