@model MediaCollection2.Models.DetailsMovieViewModel

@{
     Layout = "~/Views/Shared/_MoviesLayout.cshtml";

    ViewData["Title"] = "Details";
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "download.jfif");
}

<h2>Details</h2>

<div>
    <table class="table">
        <tr>
            <th>
                <img class="card-img-top img-thumbnail" src="@photoPath" asp-append-version="true" />
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <td>
                @Html.DisplayFor(model => model.Titel)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <td>
                @Html.DisplayFor(model => model.ReleaseDate)
            </td>
            <th></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lenght)
            </th>
            <td>
                @Html.DisplayFor(model => model.Lenght)
            </td>
            <th></th>
        </tr>
        <tr></tr>
    </table>
    <div>
        @if (Model.Reviews.Count() != 0)
        {
            <table class="table">


                <tr>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(model => review.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(model => review.Comment)
                        </td>
                    </tr>
                }
                <tr>
                    <th>Average:</th>
                    <td>
                        @ViewBag.avg
                    </td>
                    <td></td>
                </tr>

            </table>
        }

    </div>
    <div>
        @if (Model.Genres.Count() != 0)
        {
            <table class="table">


                <tr>
                    <th>Genre</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var review in Model.Genres)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => review.Naam)
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        }

    </div>
    <div>
        @if (Model.Writers.Count() != 0)
        {
            <table class="table">


                <tr>
                    <th>Writers</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var writer in Model.Writers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => writer.Name)
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        }

    </div>
    <div>
        @if (Model.Directors.Count() != 0)
        {
            <table class="table">


                <tr>
                    <th>Directors</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var director in Model.Directors)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => director.Name)
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        }

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><i class="fas fa-edit"></i>Edit</a> |
    <a asp-action="Index"> <i class="fas fa-back"></i> Back to List</a>
</div>
